/node_modules
/public/hot
/public/js/config.js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vs
..env.swp
/public/css
/public/js
/public/img/contribute.png
/public/img/bg
/public/img/cardgen
/public/img/cards
/public/img/character
/public/img/icons
/public/img/skills
/public/img/badges
/public/img/icon-packs
/public/img/character/fantasy
/public/img/shop
/public/img/pets/craft
/public/mix-manifest.json
/public/img/custom
/public/img/protected
