/node_modules
/public/hot
/public/js/config.js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vs
..env.swp
/public/css
/public/js
/public/img/bg
/public/img/skills
/public/img/character/fantasy
/public/img/shop
