.character-student {
    position: absolute !important;
    width: 150px;
    min-height: 150px;
    left: 20px;
    top: 25px;
    margin: 0 !important;
}

.disabled {
    opacity: 0.4;
}

.char-bg {
    max-height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
}

.character-small {
    transform: scale(0.6) !important;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    top: -33px !important;

}


.character-container {
    text-align: center;
    margin: 0 auto 0 auto;
}

.character {
    width: 140px;
    height: 225px;
    position: relative;
    top: -30px;
    padding: 0;
    margin: 0 auto;
    transform: scale(0.75);
    margin: 0 auto 0 auto;
}

/* Fantasy / medieval */

.helmet,
.helmet-mage {
    position: absolute;
    top: -2px;
    transform: scale(0.9, 0.9);
    left: 28px;
    transition: .3s ease-in-out
}

.helmet-mage {
    top: -42px
}

.armor {
    position: absolute;
    top: 86px;
    left: 22.5px;
    transition: .3s ease-in-out
}

.boots {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 8px;
    top: 150px;
    z-index: -1;
    transition: .3s ease-in-out
}

@keyframes movement {
    0% {
        transform: translateY(0px)
    }

    20% {
        transform: translateY(4px)
    }

    40% {
        transform: translateY(-4px)
    }

    60% {
        transform: translateY(4px)
    }

    100% {
        transform: translateY(-4px)
    }
}

@keyframes hmovement {
    0% {
        transform: translateX(0px)
    }

    20% {
        transform: translateX(4px)
    }

    40% {
        transform: translateX(-4px)
    }

    60% {
        transform: translateX(4px)
    }

    100% {
        transform: translateX(-4px)
    }
}

@keyframes movementGauntlet {
    0% {
        transform: scale(0.4, 0.4) scaleY(-1) rotateY(0) translateY(0px)
    }

    20% {
        transform: scale(0.4, 0.4) scaleY(-1) rotateY(0) translateY(-8.5px)
    }

    40% {
        transform: scale(0.4, 0.4) scaleY(-1) rotateY(0) translateY(8.5px)
    }

    60% {
        transform: scale(0.4, 0.4) scaleY(-1) rotateY(0) translateY(-8.5px)
    }

    100% {
        transform: scale(0.4, 0.4) scaleY(-1) rotateY(0) translateY(8.5px)
    }
}

@keyframes movementGauntlet2 {
    0% {
        transform: scale(0.4, 0.4) scaleX(-1) translateY(0px)
    }

    20% {
        transform: scale(0.4, 0.4) scaleX(-1) translateY(6.5px)
    }

    40% {
        transform: scale(0.4, 0.4) scaleX(-1) translateY(-6.5px)
    }

    60% {
        transform: scale(0.4, 0.4) scaleX(-1) translateY(6.5px)
    }

    100% {
        transform: scale(0.4, 0.4) scaleX(-1) translateY(-6.5px)
    }
}

.gauntlet2 {
    position: absolute;
    top: 90px;
    right: -30px;
    animation-name: movementGauntlet2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: scale(0.4, 0.4) scaleX(-1)
}

.gauntlet1 {
    position: absolute;
    top: 70px;
    transform: scale(0.4, 0.4);
    animation-name: movementGauntlet;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    z-index: 4;
    left: -30px;
    transform: scale(0.4, 0.4) scaleY(-1) rotateY(0)
}

.shield {
    position: absolute;
    right: -30px;
    top: 80px;
    z-index: 2;
    animation-name: movement;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: .3s ease-in-out
}

.sword,
.bow,
.staff {
    position: absolute;
    left: -30px;
    top: -14px;
    z-index: 2;
    animation-name: movement;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bow {
    top: 35px;
    left: -20px;
    z-index: 5
}

.staff {
    top: 40px;
    z-index: 5
}

.bag {
    bottom: 5px;
    position: absolute;
    right: 0
}

.necklace {
    position: absolute;
    width: 70px;
    top: 85px;
    left: 37px;
    z-index: 10
}

.character:hover .sword {
    animation: none;
    top: -44px
}

.group_undead {
    background-color: #888;
    color: #fff
}

.undead:hover .armor {
    top: 150px;
    z-index: 9
}

.undead:hover .helmet {
    top: 130px;
    z-index: 10;
    left: -10px
}

.undead:hover .shield {
    height: 5px;
    width: 76.8px;
    top: 220px
}

.undead:hover .sword {
    transform: rotate(-90deg) translateX(-180px) translateY(15px);
    z-index: -1
}

.undead:hover .boots {
    display: none
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.character:hover .staff {
    animation: spin 1.2s ease infinite;
    top: 0;
}

.character:hover .bow {
    animation: none;
    top: -14px;
    transform: rotate(35deg)
}

.character:hover .gauntlet1 {
    animation: none;
    top: 30px
}

.character:hover .gauntlet2 {
    animation: none
}

.character:hover .shield {
    animation: none
}

/*****************************/

/************* ROBOTS *********/


.armorRobot1 {
    position: absolute;
    top: 103px;
    left: 32.5px;
    z-index: 2;
}

.bowTieRobot1 {
    position: absolute;
    top: 83px;
    left: 42px;
    z-index: 3;
}

.bootsRobot1 {
    position: absolute;
    left: 37px;
    top: 150px;
    z-index: -1;
}

.helmetRobot1 {
    left: 38px;
    top: -10px;
    z-index: 1;
}

.gauntletRobot1 {
    position: absolute;
    left: 100px;
    top: 88px;
    z-index: -1;
    animation: robot1 1.2s ease infinite;
}

.character:hover .gauntletRobot1 {
    animation: robot1 0.5s ease infinite;
}

.character:hover .helmetRobot1 {
    animation: robotHead1 2.2s linear infinite;
}

.character:hover .bowTieRobot1 {
    animation: ball .5s linear infinite;
}

@keyframes robotHead1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    40% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes robot1 {
    0% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(0.5);
    }

    40% {
        transform: scaleY(0);
    }

    60% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes robot2 {
    0% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(0.75);
    }

    60% {
        transform: scaleY(0.75);
    }

    100% {
        transform: scaleY(1);
    }
}

.helmetRobot2 {
    top: 32px;
    left: 31px;
}

.eyesRobot2,
.eyesRobot3 {
    position: absolute;
    top: -10px;
    left: 32.5px;
    z-index: -1;
}

.armorRobot2,
.armorRobot3 {
    position: absolute;
    top: 112px;
    left: 32.5px;
}

.gauntletRobot2,
.gauntletRobot3,
.gauntletRobot4 {
    position: absolute;
    left: 14px;
    transform-origin: 50% 0%;
    animation: robot2 1.2s ease infinite;
}

.character:hover .gauntletRobot2,
.character:hover .gauntletRobot3 {
    animation: none;
    transform-origin: 0% 15%;
    transform: scaleY(-1);
}

.bootsRobot2,
.bootsRobot3 {
    position: absolute;
    left: 19px;
    top: 168px;
    z-index: -1;
}

.helmetRobot3 {
    top: 28px;
    left: 30px;
}

.helmetRobot4 {
    top: 25px;
    left: 23px;
}

.gauntletRobot4 {
    z-index: -1;
    top: 116px;
}

.bootsRobot4 {
    left: 17px;
}

.is-absolute {
    position: absolute;
}

/* superh */
.eqPart {
    position: absolute;
    top: 0;
    left: 0;
}

.legs-sh1 {
    top: 153.502px;
    left: 14.209px;
}

.legs-sh2 {
    top: 169.78px;
    left: 12.040px;
}

.legs-sh3 {
    top: 170.72px;
    left: 24.585px;
}

.body-sh1 {
    top: 83.776px;
    left: 0px;
}

.body-sh2 {
    top: 54.836px;
    left: 0;
}

.body-sh3 {
    top: 102.838px;
    left: 10.362px;
}

.head-sh1 {
    top: 0;
    left: 0.901px;
}

.head-sh2 {
    top: 26.68px;
    left: 21px;
}

.head-sh3 {
    top: 2.324px;
    left: 17.718px;
}

.arms-sh1 {
    top: 35.72px;
    left: 2px;
}

.arms-sh2 {
    top: 13.059px;
    left: 22.972px;
}

.arms-sh3 {
    top: 103.068px;
    left: 11.666px;
}

.topPart {
    z-index: 3;
}

.backPart {
    z-index: -1;
}

.lastPart {
    z-index: -2;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floathover {
    0% {
        transform: translatey(-35px);
    }

    50% {
        transform: translatey(-28px);
    }

    100% {
        transform: translatey(-35px);
    }
}

.fly {
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}

.character:hover .fly {
    animation: floathover .5s ease-in-out infinite;
}

/**************/

/*** Animals **/
@keyframes movementAnimal {
    0% {
        transform: translateY(0px)
    }

    20% {
        transform: translateY(2px)
    }

    40% {
        transform: translateY(-2px)
    }

    60% {
        transform: translateY(2px)
    }

    100% {
        transform: translateY(-2px)
    }
}

.moveHeadUD {
    animation-name: movementAnimal;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.character-container:hover .moveHeadUD {
    animation-name: robotHead1;
    animation-duration: 1.5s;
}

.tail-1 {
    top: 146.412px;
    left: 99.955px;
}

.body-1 {
    top: 127.645px;
    left: 2.147px;
}

.head-1 {
    z-index: 10;
    top: 5.138px;
    left: 1.194px;
}

.tail-2 {
    top: 174.529px;
    left: 99.184px;
}

.body-2 {
    top: 147.282px;
    left: 27.454px;
}

.head-2 {
    z-index: 10;
    top: 7.857px;
    left: 6.119px;
}

.legs-3 {
    top: 204.594px;
    left: 10.215px;
}

.body-3 {
    top: 115.341px;
    left: 12.79px;
}

.head-3 {
    z-index: 10;
    top: 40.34px;
    left: -2px;
}

.legs-4 {
    top: 182.804px;
    left: 45.163px;
}

.body-4 {
    top: 110.444px;
    left: 19.785px;
}

.head-4 {
    z-index: 10;
    top: 10px;
    left: 10.679px;
}

.legs-5 {
    top: 186.074px;
    left: 33.642px;
}

.body-5 {
    top: 34.259px;
    left: 0;
}

.head-5 {
    z-index: 10;
    top: 0;
    left: 35.419px;
}

/**************/

/*** Aquatic */
@keyframes movementArms {
    0% {
        transform: translateY(0px)
    }

    20% {
        transform: translateY(-8.5px)
    }

    40% {
        transform: translateY(8.5px)
    }

    60% {
        transform: translateY(-8.5px)
    }

    100% {
        transform: translateY(8.5px)
    }
}


.boots-atlantis {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 1px;
    top: 121px;
    z-index: 1;
}

.armor-atlantis {
    position: absolute;
    top: 48px;
    left: 1.5px;
}

.helmet-atlantis {
    position: absolute;
    top: -26px;
    left: 2px;
    transform: scale(0.9, 0.9);
}

.arm-left-atlantis {
    position: absolute;
    right: -32px;
    top: 68px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-atlantis {
    position: absolute;
    left: -41px;
    top: 60px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.boots-desertores {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 1px;
    top: 175px;
    z-index: 1;
}

.armor-desertores {
    position: absolute;
    top: 70px;
    left: 11.5px;
}

.helmet-desertores {
    position: absolute;
    top: -26px;
    left: 2px;
    transform: scale(0.9, 0.9);
}

.arm-left-desertores {
    position: absolute;
    right: -28px;
    top: 78px;
    z-index: 2;


    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-desertores {
    position: absolute;
    left: -17px;
    top: 69px;
    z-index: 2;

    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.boots-fosa {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 0px;
    top: 119px;
    z-index: 1;
}

.armor-fosa {
    position: absolute;
    top: 90px;
    left: 13.5px;
}

.helmet-fosa {
    position: absolute;
    top: -7px;
    left: 13px;
    transform: scale(0.9, 0.9);
}

.arm-left-fosa {
    position: absolute;
    right: -50px;
    top: 68px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-fosa {
    position: absolute;
    left: -46px;
    top: 47px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


.boots-mar {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 4px;
    top: 124px;
    z-index: 1;
}

.armor-mar {
    position: absolute;
    top: 90px;
    left: 13.5px;
}

.helmet-mar {
    position: absolute;
    top: -14px;
    left: 3px;
    transform: scale(0.9, 0.9);
}

.arm-left-mar {
    position: absolute;
    right: -12px;
    top: 109px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-mar {
    position: absolute;
    left: -46px;
    top: 47px;
    z-index: 2;

    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


.boots-pescadores {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 3px;
    top: 124px;
    z-index: -1;
}

.armor-pescadores {
    position: absolute;
    top: 60px;
    left: 3.5px;
}

.helmet-pescadores {
    position: absolute;
    top: -25px;
    left: 3px;
    transform: scale(0.9, 0.9);
}

.arm-left-pescadores {
    position: absolute;
    right: -37px;
    top: 100px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-pescadores {
    position: absolute;
    left: -46px;
    top: 47px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


.boots-salmuera {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 3px;
    top: 124px;
    z-index: 0;
}

.armor-salmuera {
    position: absolute;
    top: 60px;
    left: 3.5px;
}

.helmet-salmuera {
    position: absolute;
    top: -25px;
    left: 3px;
    transform: scale(0.9, 0.9);
}

.arm-left-salmuera {
    position: absolute;
    right: -37px;
    top: 100px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-salmuera {
    position: absolute;
    left: -35px;
    top: 65px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


.boots-xebel {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: 3px;
    top: 124px;
    z-index: 0;
}

.armor-xebel {
    position: absolute;
    top: 60px;
    left: 3.5px;
}

.helmet-xebel {
    position: absolute;
    top: -25px;
    left: 3px;
    transform: scale(0.9, 0.9);
}

.arm-left-xebel {
    position: absolute;
    right: -54px;
    top: 64px;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-xebel {
    position: absolute;
    left: -55px;
    top: 47px;
    z-index: 2;
    animation-name: movementArms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.arm-right-xebel:hover,
.arm-left-xebel:hover,
.arm-right-mar:hover,
.arm-left-mar:hover,
.arm-right-pescadores:hover,
.arm-left-pescadores:hover,
.arm-right-desertores:hover,
.arm-left-desertores:hover,
.arm-right-fosa:hover,
.arm-left-fosa:hover,
.arm-right-salmuera:hover,
.arm-left-salmuera:hover,
.arm-right-antis:hover,
.arm-left-atlantis:hover {
    animation: none;
}


/**************/

/**Fantasy 2 **/

.wraith-body {
    position: absolute;
    top: 98px;
    left: 15px;
    z-index: 1;
}

.wraith-head {
    position: absolute;
    top: 14px;
    left: 2px;
    transform: scale(0.9, 0.9);
    z-index: 4;
}

.wraith-arms {
    position: absolute;
    left: 10px;
    top: 108px;
    z-index: 2;
}

.wraith-ball {
    position: absolute;
    left: 0px;
    top: 80px;
    z-index: 100;
    animation: ball 1.5s infinite linear;
}

.golem-weapon {
    position: absolute;
    left: 60px;
    top: -40px;
    transform-origin: center 0;
    animation-name: golem;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.character:hover .golem-weapon {
    animation-duration: 0.5s;
}

.character:hover .wraith-ball {
    animation: ball-throw 1s, ball 1s infinite linear;
}

.character:hover .wraith-arms {
    transform-origin: bottom left;
    transform: rotate(35deg);
    left: -15px;
    top: 60px;
    z-index: 10;
}

.golem-head {
    position: absolute;
    top: -50px;
    left: 2px;
}

.golem-body {
    position: absolute;
    top: 20px;
    left: -2px;
}

.golem-bottom {
    position: absolute;
    top: 85px;
    left: 5px;
    z-index: 2;
}

.knight-shield {
    position: absolute;
    top: 115px;
    left: 10px;
    z-index: 2;
    animation: movement 1.5s infinite;
    z-index: 4;
}

.character:hover .knight-shield {
    animation: none;
    transform: scale(1.3) translateX(20px);
}

.character:hover .knight-sword {
    transform: rotateX(120deg);
    top: 95px;
}

.knight-head,
.archer-head {
    position: absolute;
    top: 10px;
    left: 2px;
    z-index: 3;
}


.archer-head {
    animation: archerhead 2s infinite;
}

.knight-body,
.archer-body {
    position: absolute;
    top: 125px;
    left: 25px;
    z-index: 2;

}

.knight-sword {
    position: absolute;
    top: 34px;
    left: 100px;
    z-index: 1;
}

.archer-bow {
    position: absolute;
    top: 87px;
    left: 54px;
    z-index: 5;
}

.character:hover .archer-head {
    animation: none;
}

.character:hover .archer-bow {
    transform: rotate(-30deg);
    top: 92px;
    left: 52px;

}

.character:hover .archer-arrow {
    transform: rotate(-39deg);
    animation: arrow 1s ease-in;
    animation-iteration-count: 1
}

.archer-arrow {
    position: absolute;
    top: 127px;
    left: 24px;
    z-index: 1;
}


@keyframes ball-throw {
    0% {}

    50% {
        left: 300px;
    }

    100% {}
}

@keyframes arrow {
    0% {}

    20% {
        left: 344px;
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes archerhead {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    49% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    75% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    76% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes golem {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes ball {

    100% {
        transform: rotate(360deg);
    }
}

/**************/

/**** space ****/
.a2-body {
    top: 80px;
    left: -25px;
    z-index: 2;
}
.a1-body {
    top: 88px;
    left: -25px;
    z-index: 2;
}

.a1-cape {
    top: 80px;
    left: -13px;
    z-index: 1
}

.a1-head {
    top: 13px;
    left: -8px;
    z-index: 3;
}

.a3-head {
    top: 5px;
    left: -14px;
    z-index: 2;
}

.a3-body {
    top: 75px;
    left: -20px;
    z-index: 3;
}

.a3-cape {
    top: 68px;
    left: -16px;
    z-index: 1
}

.a2-cape {
    top: 122px;
    left: 19px;
    z-index: 1
}
.a2-head {
    top: 29px;
    left: -4px;
    z-index: 3;
}

/**************/

/**** Skeleton ****/

.skeleton-head {
    position: absolute;
    top: 45px;
    left: 22px;
    z-index: 3;
    animation: archerhead 2s infinite;
}

.skeleton-body {
    position: absolute;
    top: 135px;
    left: 45px;
    z-index: 2;

}

.skeleton-arms {
    position: absolute;
    top: 135px;
    left: 15px;
}

.skeleton-legs {
    position: absolute;
    top: 175px;
    left: 45px;
}

.character:hover .skeleton-body,
.character:hover .skeleton-arms,
.character:hover .skeleton-legs,
.character:hover .skeleton-head {
    transition: all .2s linear;
}

.character:hover .skeleton-body,
.character:hover .skeleton-arms,
.character:hover .skeleton-legs {
    animation: none;
    top: 165px;
}

.character:hover .skeleton-head {
    animation: none;
    top: 105px;
    left: -20px
}

.character:hover .skeleton-body {
    animation: none;
    top: 140px;
    left: 60px
}

/*********************/
