/* firefox fix */

.fileinput-cancel-button, .fileinput-upload-button, .fileinput-remove-button, #navbarSpy a:not(.active) .mobileHidden {
  display: none;
}

.biggerScreen {
  display: initial !important;
}

#content4 input[readonly] {
  background-color: white;
}

.contentView img {
  max-width: 90% !important;
}

/****Users Settings *****/

#users {
  .header {
    background-color: #327a81;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
  }

  img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .table-users {
    border: 1px solid #327a81;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);

    /*max-width: calc(100% - 2em);*/
    overflow: hidden;
  }

  table {
    width: 100%;

    td, th {
      color: #2b686e;
      padding: 10px;
    }

    td {
      text-align: center;
      vertical-align: middle;

      &:last-child {
        font-size: 0.95em;
        line-height: 1.4;
        text-align: left;
        justify-content: center;
      }
    }

    th {
      background-color: #efefef;
      font-weight: 300;
    }

    tr {
      &:nth-child(2n) {
        background-color: white;
      }

      &:nth-child(2n+1) {
        background-color: #efefef;
      }
    }
  }
}

/****************************/
/****Wizard********/

.wizard {
  margin: 20px auto;
  background: #fff;
  z-index: 100002;

  .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
  }

  > div.wizard-inner {
    position: relative;
  }
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img, [type=radio] + div {
    cursor: pointer;
  }
  
  [type=radio]:checked + img, [type=radio]:checked + div {
    box-shadow: 0 0 3pt 2pt #4fc3f7;
  }
}



.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;

  &:hover, &:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
  }
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;

  i {
    color: #555555;
  }
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;

  i {
    color: #5bc0de;
  }
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard {
  .nav-tabs > li {
    width: 25%;
  }

  li {
    &:after {
      content: " ";
      position: absolute;
      left: 46%;
      opacity: 0;
      margin: 0 auto;
      bottom: 0px;
      border: 5px solid transparent;
      border-bottom-color: #5bc0de;
      transition: 0.1s ease-in-out;
    }

    &.active:after {
      content: " ";
      position: absolute;
      left: 46%;
      opacity: 1;
      margin: 0 auto;
      bottom: 0px;
      border: 10px solid transparent;
      border-bottom-color: #5bc0de;
    }
  }

  .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;

    &:hover {
      background: transparent;
    }
  }

  .tab-pane {
    position: relative;
    padding-top: 50px;
  }

  h3 {
    margin-top: 0;
  }
}


/***************/

/********* Notifications  ***********/

.notifications {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 54px;
  right: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 1px solid #999;
  max-width: 100%;

  .closebtn {
    position: absolute;
    top: 5px;
    right: 40px;
    font-size: 36px;
    color: #555;
  }
}

@media screen and (max-height: 450px) {
  .notifications {
    padding-top: 15px;
  }
}

.card25 {
  zoom: 0.5;
}

.lineNotification {
  display: flex;
  width: 100%;
  border-top: 1px solid #555;
  background-color: #777;
  justify-content: center;
  align-items: center;
}

.infoNotification {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.card-body {


  p {
    color: black !important;
  }
}

.helpMenu {
  a {
    color: white !important;

    &:link, &:hover {
      color: white !important;
    }
  }

  p {
    color: white !important;
  }
}

/********* /Notifications  ***********/

/********* Menú ***********/

.menu-labels {
  .fad {
    --fa-primary-color:#555;
    --fa-secondary-color:#555;
    --fa-secondary-opacity:0.7;
  }

  .selected .fad {
    --fa-primary-color:#555;
    --fa-secondary-color:#555;
    --fa-secondary-opacity:0.5;
  }

  width: 100%;
  background-color: #f7f7f7;
  z-index: 12;


  label {
    &.selected span {
      display: initial;
    }

    &:hover {
      background-color: #fafafa;
      border-radius: 0;
      cursor: pointer;
    }
  }

  > label.selected {
    color: $dark;
    border-right: 2px solid darkorange;
    border-left: 2px solid darkorange;
  }

  > label {
    background-color: transparent;
    box-sizing: border-box;
    color: $dark;
    display: inline-block;
    height: 100%;
    margin: 0;
    text-align: center;
    width: auto;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
  }

  span {
    color: $dark;
  }

  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
}

.main-content {
  margin-top: 75px;  
}

.login_container label {
  background-color: transparent;
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-weight: 600;
  padding: 20px 16px;
  height: 100%;
  margin: 0;
  text-align: center;
  width: auto;
}

.menu {
  a {
    text-decoration: none;
  }
}

.right-menu-bar {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  display: flex;
  margin: 0;
  height: 53px;
}

.settings-menu {
  height: 100%;
  margin: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #888;
  display: inline-block;
  z-index: 2;
  color: #fff !important;
}

.patreonMenu, .helpMenu, .telegramMenu {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin: 0;
  background-color: #c62828;
  display: block;
  padding: 0 15px 0 10px;
  z-index: 1;
  margin-right: -5px;
  font-size: 1.2em;
}

.rightMenuBar span {
  display: inline;
}

.helpMenu {
  background-color: #42a5f5;
}

.telegramMenu {
  background-color: #222;
}

.rightMenuBar a {
  color: #fff;
  font-size: 1em;

  &:hover {
    color: #fff;
  }
}

#supportUs a.btn {
  color: #fff !important;
}

.menu-labels .rightMenuBar .fad {
  --fa-primary-color:#fff;
  --fa-secondary-color:#fff;
  --fa-secondary-opacity:0.7;
}

.dropdown-content {
  top: 30px;

  a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      color: #000 !important;
    }
  }
}

/**************************/

.flexEnd {
  display: flex;
  place-items: flex-end;
}

.formVertical {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}

.flexBottom {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
}

.formVertical i {
  font-size: 0.8em;
}

.nameStudent {
  position: relative;
}

.openStudent {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -5px;
  font-size: 1.4em;
  color: #555;
}

.version {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
}
.admin {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  z-index: 2;
  text-shadow: 1.5px 1.5px 0 #555;
}

.utilities {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: inline-block;
  position: relative;
  padding-left: 85px;
  padding-bottom: 19px;
  width: 100%;

  > {
    span, a {}
  }
}

.tools {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  max-width: 75px;
  font-size: 2em;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.dialogUI {
  background-color: #fcfcfc;
}

.updateHPItem {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.question {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.relative {
  position: relative;
}
.deleteQuestion, .delete-button-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.teacherActions {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;

  > i {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
  }
}

/*** PENDING CARDS ****/

.pendingCards {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  overflow: auto;
  padding: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #222;
  border-top: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

#submenuMobile, .submenu, .onlyMobile {
  display: none;
}

#content8 i {
  font-size: 0.75em;
}

.pendingInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #222;
  padding: 20px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
}

.pendingGroup {
  margin: 0 auto;
}

/********************/

.row {
  align-items: center;
  align-content: center;
}

.input-group {
  align-items: center;
}

.login .row {
  align-items: unset;
}

.keepLogin {
  color: white !important;
}

.w80px {
  width: 80px;
  margin-top: -12px !important;
}

.weatherMngmt {
  display: flex;
  align-items: center;
  font-size: 4em;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: auto;
}

.trumbowyg-editor {
  background-color: white;
}

.table {
  border: 1px solid black;

  td {
    border: 1px solid black;
  }
}

.logRow span {
  font-size: 100%;
}

.ui-dialog {
  background-color: #e3f2fd;
}

.ui-dialog-buttonpane {
  background-color: #cfe4ff;
}

.privilegeShow {
  display: inline-block;
  padding: 20px;
  border: 1px solid #575757;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.5em;
  background-color: white;

  button {
    margin: 5px;
  }
}

.memberStdView .privileges {
  font-size: 2em;
  margin: 2px 2px 5px;
}

.dreta {
  text-align: right;
}

.evaluateDiv {
  padding: 10px;
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div {
    flex: 0 0 33%;
  }
}

.resources {
  margin-right: 0;
}

.chartdiv {
  width: 50%;
  height: 500px;
}

.chartdivFull {
  width: 100%;
  height: 500px;
}

.chartdivEmpty {
  display: none;
}

.closeBtn {
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.cardModal {
  z-index: 1070;
  width: 80%;
  min-height: 40vh;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

h1.card-text {
  text-align: center;
  width: 100%;
  margin: 0;
}

.cardModal {
  .card-body {
    padding: 40px;
    text-align: justify;
  }

  .flexBody {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.over {
  background-color: red;
  border: 4px dashed red !important;
}

.supportUs {
  display: none;
}

#dice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

@media all {
  .page-break {
    display: none;
  }

  .chartElement * {
    color: black;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
    margin-bottom: 10px;
  }

  .chartElement * {
    color: black;
  }
}

.wizardTheme {
  width: 100%;
  height: 50vh;
  overflow: auto;
}

.themes {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  max-height: 60vh;
  overflow: auto;
}

.theme {
  margin: 4px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing: border-box;

  img {
    height: 100%;
  }
}

.bg_color_theme {
  min-width: calc(20% - 8px);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.bg_white_alpha {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
}

.vertical_margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin_bottom {
  margin-bottom: 20px;
}

/* toggle */

.tgl {
  display: none;
  box-sizing: border-box;

  &:after, &:before {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;

    &:after, &:before {
      box-sizing: border-box;
    }
  }

  + .tgl-btn {
    box-sizing: border-box;
  }

  &::-moz-selection, &:after::-moz-selection, &:before::-moz-selection {
    background: none;
  }

  * {
    &::-moz-selection, &:after::-moz-selection, &:before::-moz-selection {
      background: none;
    }
  }

  + .tgl-btn::-moz-selection, &::selection, &:after::selection, &:before::selection {
    background: none;
  }

  * {
    &::selection, &:after::selection, &:before::selection {
      background: none;
    }
  }

  + .tgl-btn {
    &::selection {
      background: none;
    }

    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:after, &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-light {
  + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;

    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all .2s ease;
    }
  }

  &:checked + .tgl-btn {
    background: #9FD6AE;
  }
}

.tgl-ios {
  + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    border: 1px solid #e8eae9;

    &:after {
      border-radius: 2em;
      background: #fbfbfb;
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    }

    &:hover:after {
      will-change: padding;
    }

    &:active {
      box-shadow: inset 0 0 0 2em #e8eae9;

      &:after {
        padding-right: .8em;
      }
    }
  }

  &:checked + .tgl-btn {
    background: #86d993;

    &:active {
      box-shadow: none;

      &:after {
        margin-left: -.8em;
      }
    }
  }
}

.tgl-skewed {
  + .tgl-btn {
    overflow: hidden;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .2s ease;
    font-family: sans-serif;
    background: #888;

    &:after, &:before {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
      display: inline-block;
      transition: all .2s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }

    &:after {
      left: 100%;
      content: attr(data-tg-on);
    }

    &:before {
      left: 0;
      content: attr(data-tg-off);
    }

    &:active {
      background: #888;

      &:before {
        left: -10%;
      }
    }
  }

  &:checked + .tgl-btn {
    background: #86d993;

    &:before {
      left: -100%;
    }

    &:after {
      left: 0;
    }

    &:active:after {
      left: 10%;
    }
  }
}

.tgl-flat {
  + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #fff;
    border: 4px solid #f2f2f2;
    border-radius: 2em;

    &:after {
      transition: all .2s ease;
      background: #f2f2f2;
      content: "";
      border-radius: 1em;
    }
  }

  &:checked + .tgl-btn {
    border: 4px solid #7FC6A6;

    &:after {
      left: 50%;
      background: #7FC6A6;
    }
  }
}

.tgl-flip {
  + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    -webkit-perspective: 100px;
    perspective: 100px;

    &:after, &:before {
      display: inline-block;
      transition: all .4s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 4px;
    }

    &:after {
      content: attr(data-tg-on);
      background: #02C66F;
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }

    &:before {
      background: #FF3A19;
      content: attr(data-tg-off);
    }

    &:active:before {
      -webkit-transform: rotateY(-20deg);
      transform: rotateY(-20deg);
    }
  }

  &:checked + .tgl-btn {
    &:before {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }

    &:after {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      left: 0;
      background: #7FC6A6;
    }

    &:active:after {
      -webkit-transform: rotateY(20deg);
      transform: rotateY(20deg);
    }
  }
}

/* Bottstrap */

.form-control {
  display: flex;
  flex-grow: 1;
}

.padding_div {
  padding: 20px;
}

.table-icons {
  td {
    padding: 1px;
  }

  tr {
    border: none;
  }
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

@supports (zoom: 1.5) {
  input {
    &[type="radio"], &[type=checkbox] {
      zoom: 1.5;
    }
  }
}

@supports not (zoom: 1.5) {
  input {
    &[type="radio"], &[type=checkbox] {
      transform: scale(1.5);
      margin: 15px;
    }
  }
}

main > h2, .titleSecondary {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #fff;
  text-shadow: -.75px 0 black, 0 .75px black, .75px 0 black, 0 -.75px #000;
  font-size: 2.5em;
  display: inline-block;
  position: relative;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

#content7 h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.titleDialogUI {
  padding: 20px;
  margin: 0 !important;
  background-color: #17191e;
  color: #fefefe;
}

.teachers {
  margin: 20px;

  > div.teacher {
    display: inline-block;
    margin: 15px;
    padding: 25px;
    border: 0.5px solid #767676;
    border-radius: 5px;
  }

  i[class*=trash] {
    cursor: pointer;
  }
}

.fa-ul li {
  padding: 5px;
  font-size: 1.3em;
}

.required {
  color: #f44336;
  font-size: .5em;
  position: relative;
  top: 0;
}

.mapAttach {
  padding: 30px;
  background-color: #ddd;

  > * {
    margin: 10px;
  }
}

/* Loader */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  margin: -30px 0 0 -30px;
  border: 15px solid rgb(129, 212, 250);
  border: 15px solid rgba(129, 212, 250, 0.5);
  border-top: 15px solid #0091EA;

  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.logoFont {
  font-family: logo;
  font-size: 2em;
}

.logoImg {
  position: absolute;
  top: 7px;
  left: 5px;
  height: 36px;
  width: 38px;
}

summary {
  h4, h2, h5 {
    display: inline-block;
  }
}

.calendar {
  margin-bottom: 20px;

  iframe {
    border-radius: 5px;
    border: 1px solid #757575;
  }
}

/* LOG */

.error {
  color: red;
  font-weight: bold;
}

.danger {
  color: darkred;
}

.logRow {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.logDate {
  flex-shrink: 0;
  margin-right: 15px;
}

.logContent {}

/*******/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/***********/

.studentsLink {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 15px;
  width: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  border: 1px solid #757575;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  a {
    color: #575757;

    &:visited:hover {
      color: #575757;
    }
  }
}

.studentLink a:hover {
  text-decoration: underline;
}

.login {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
  color: #555 !important;
  border: 1px solid #575757;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  position: relative;
}

input {
  &[name=groupType], &[name=changeGroupType] {
    /*display: none;*/
    z-index: -1;
    position: relative;
    right: -38px;
  }
}

.hide {
  display: none;
}

.classWarrior, .classWizard, .classArcher, .classHarper, .classWriter {
  cursor: pointer;
  padding: 5px;
  background-image: url(/img/character/warrior.png);
  background-size: auto 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.classWizard {
  background-image: url(/img/character/wizard.png);
}

.classArcher {
  background-image: url(/img/character/archer.png);
}

.classHarper {
  background-image: url(/img/character/harper.png);
}

.classWriter {
  background-image: url(/img/character/writer.png);
}

.themePreview {
  border-radius: 5px;
  border: 1px solid #555;
  margin: 5px;
}

.classBox {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;

  input {
    zoom: 1;
  }
}

input {
  &[name=groupType]:checked + .classType, &[name=changeGroupType]:checked + .classType {
    background-color: #aaa;
    border: .5px solid black;
    border-radius: 5px;
  }
}

.checkSpecial {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid #ff7e02;
}

.cardActionContainer {
  display: flex;
}

.cards {
  text-align: center;

  .cardflex {
    display: inline-block;
    align-items: flex-start;
    align-self: flex-start;
    align-content: center;
  }
}

.cardflex .cardContainer {
  margin: 20px auto 20px auto;
  transform: scale(0.9);
}

.carGroupPreview {
  display: inline-block;
}

.lvlNumberPers {
  display: none;
}

.showCards, .newItemShop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.showCards > div {
  margin: 30px;
}

svg {
  z-index: -1;
}

.health {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  flex-grow: 1;
}

.health_name {
  margin-right: 10px;
}

.health .progress {
  flex: 1 0 0;
}

.progress i {
  color: white;
  left: 5px;
  position: absolute;
  top: 5px;
}

.classroomSelect > span {
  margin-bottom: 20px;
}

.classSelect {
  color: black;
  text-align: center;
}

.classroomSelect:hover {
  background-color: black;
}

.classSelectGroup {
  display: none;
  position: absolute;
  top: 54px;
  left: 0px;
  background-color: #aaa;
  background-color: rgba(225, 225, 225, 0.9);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: calc(100vh - 54px);
  overflow: auto;
  min-width: 200px;
}

.classSelect {
  opacity: 1.0;
  display: block;
  margin: 10px 0 10px 0;
  padding: 15px;
  background-color: white;
  width: 100%;
  border-radius: 5px;
}

.classroomSelect:hover .classSelect:hover {
  background-color: #90caf9;
  font-weight: bold;
  text-decoration: none;
}

.cardConfig {
  li {
    font-size: 1.2em;
    margin: 10px;
  }

  span {
    font-weight: bold;
  }
}

/* FORM */

.bigForm {
  display: inline-flex;

  div {
    padding: 30px;
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
}

/** Weather */

.weather {
  font-size: 1.8em;
  margin-top: 15px;

  i {
    margin-left: -30px;
    margin-top: -1px;
  }
}

/* Slider  percentages */

.ui-slider-multiple {
  overflow: hidden;

  .ui-slider-handle:before {
    border: 2px solid black;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 16px;
    left: -1000px;
    position: absolute;
    right: 100%;
    top: 0;
  }
}

.ui-slider .ui-slider-handle:after {
  border: 2px solid black;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 16px;
  left: -1000px;
  position: absolute;
  right: 100%;
  top: 0;
}

.ui-slider-multiple .ui-slider-handle {
  &:after {
    left: 100%;
    right: -1000px;
  }

  &:nth-child(1) {
    &:before {
      background: #e8e7e8;
    }

    &:after {
      background: #4a56cd;
    }
  }

  &:nth-child(2):after {
    background: #5d0072;
  }

  &:nth-child(3):after {
    background: #c2a66e;
  }
}

.slider-range .ui-slider-handle {
  border: 2px solid black;
}

/* ****** */

h1 {
  font-weight: 400;
  padding: 20px;
  text-align: center;
  margin: 20px;

  &.mainTitle {
    margin: 30px;
    margin-bottom: 10px;
  }
}

p {
  line-height: 1.5;
}

main {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0;
}

section {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 52px;
  color: #555;
  min-height: calc(100vh - 52px);
}

#content7 h2 {
  padding-top: 7rem;
  margin-top: -6rem;
}

.changelogContainer {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  color: #555;
  padding: 55px;
  margin: 20px auto 20px auto;
}

.contentRound {
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #757575;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
}

.cardsDiv {
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #757575;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
}

.chKinput {
  display: none;
}

.gestClass {
  color: #757575;
  margin-top: 50px;
}

.logShow {
  max-height: 1000px;
  overflow: auto;
}

.object {
  border: 1px solid #555;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  margin: 5px;
  margin-top: 10px;
  width: 48px;
  border-radius: 5px;
}

h1:before, label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}


#menuGroups:checked ~ #content1, #menuCards:checked ~ #content2, #menuLevels:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab9:checked ~ #content9, #tab10:checked ~ #mapContent, #tabBadges:checked ~ #sectionBadges, #tab8:checked ~ #content8 {
  display: block;
}

.delBadge {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.4em !important;
}

.scrollBadges {
  max-height: 200px;
  overflow-y: auto;
}

input {
  padding: 5px;

  &[type="color"] {
    height: 40px;
  }
}


.hpUp {
  background-color: #c8e6c9;
  color: #555;
}

.hpDown {
  background-color: #ffcdd2;
  color: #555;
}

.utilities {
  .link .fad, a .fad {
    --fa-primary-color:#777;
    --fa-secondary-color:#aaa;
    --fa-secondary-opacity:1.0;
  }
}

.link:hover {
  color: black;
}

a.btn:hover, .groupContainer a {
  color: white;
}

table {
  margin: 0 auto;
}

.textBorder {
  background-color: transparent;
  color: white;
  margin-top: 0;
  text-shadow: -.5px 0 black, 0 2px black, 2px 0 black, 0 2px black;
}

.changelog {
  background-color: #fcfcfc;
  border: 1px solid #757575;
  border-radius: 10px;
  color: #333;
  display: block;
  font-size: 1.1em;
  line-height: 1.42857143;
  max-height: 500px;
  overflow: auto;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}

.mainTextColor {
  color: #757575;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/* GROUPS */

.group {
  background-color: #f9f9f9;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 10px;
  color: black;
  display: block;
  height: auto;
  margin: 0px 1px 1px 1px;
  padding: 10px;
  padding-bottom: 50px;
  position: relative;
  top: 10px;
}

.teamType, .editable {
  cursor: pointer;
}

#item {
  border: 3px solid transparent;
  border-radius: 10%;
  box-sizing: border-box;
  margin: 5px;
  padding: 15px;
}


div.input-group-text {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -5px;
  z-index: 2;
}

.selectedItem {
  border: none;
  border: 3px solid #FF5252;
}

.mapOptions {
  display: flex;
}

div.input-group {
  width: auto;
  margin: 5px;
  display: flex;
}

.input-group-flex-start {
  align-items: flex-start;
}

.input-group-append {
  height: 100%;
}

#itemGear {
  td, tr {
    border: 1px solid black;
  }

  table {
    margin: 2px;
  }
}

summary {
  margin: 10px;
}

.inline {
  display: inline;
}

.logoInfo {
  position: relative;
  float: left;
  max-width: 140px;
}

.showEdit {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  color: white;
  width: 85%;
  height: 85%;
  border-radius: 20px;
  text-align: center;
  display: none;
  cursor: pointer;
}

.logoInfo:hover .showEdit {
  display: flex;
}

.showEdit i {
  width: 100%;
  font-size: 2em;
}

.logoInfo > img {
  float: left;
  max-width: 140px;
  height: 120px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.info img {
  display: inline-block;
  margin-right: 20px;
  padding: 3px;
}

.regionGroup img {
  margin: 5px;
  margin-bottom: 10px;
}

.memberProperties {
  display: none;
}

.memberPropertiesStdView {
  display: initial;
  text-align: center;
}

.health {
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

h5 {
  margin-right: 10px;
}

.health .progress {
  flex: 1 0 0;
}

.hpModify button {
  margin-bottom: 5px;
}

.card-body .hpModify {
  text-align: center;
}

.badHP, .goodHP {
  border-radius: 5px;
  color: white;
  margin: 5px;
  padding: 5px;
}

.massiveGoodHP {
  background-color: #c8e6c9;
}

.massiveBadHP {
  background-color: #ffcdd2;
}

.goodHP {
  background-color: darkgreen;
}

.badHP {
  background-color: darkred;
}

.groupTitle {
  font-size: 1.5em;
  left: 0;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.groupMembers {
  clear: both;
}

.member, .groupAcions {
  padding: 10px;
}

.member .removeMember {
  display: inline-block;
  width: 20%;
}

.memberStdView .health {
  display: initial;
}

.member:hover {
  background-color: #e5e5e5;
}

.memberStdView {
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  margin: 1px;
  border-radius: 5px;
  border: 1px solid #555;
  overflow: auto;
  flex: 1 0 32%;

  /* explanation below */
  text-align: center;
}

.selected {
  background-color: #b3e5fc;
}

.undoHP {
  display: inline-block;
  width: 60%;
}

.logRow .undoHP {
  width: initial;
}

.goldGroup {
  background-color: #D4AF37;
}

.info {
  &::after {
    clear: both;
    content: "";
    display: block;
  }

  margin-top: 60px;
}

.groupLvl {
  box-sizing: border-box;
  font-size: 40px;
  height: 65px;
  left: 0;
  padding-top: 9px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 70px;
  z-index: 2;
  cursor: default;
}

.goldMngmt button, .scoreMngmt button {
  border: 1px solid black;
  font-size: 1em;
  margin: 1px;
  padding: 8px;
}

.changeGold, .changeScore {
  text-align: center;
}

.notAllowed {
  filter: grayscale(100%);
}

/* ************************* */

/* ***** Stories *********** */

.story {
  border: 1px solid #555;
  margin: 10px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.resource {
  margin: 10px;
  overflow-x: auto;
}

.input-group-text {
  background-color: #575757;
  color: white;
  border: 1px solid #555 !important;
}

span.input-group-text {
  height: 38px !important;
}

.trash:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.updateResource:hover {
  cursor: pointer;
  background-color: #0078fa;
  color: white;
}

.buttons {
  width: 100%;
  position: relative;
}

.ratesTeacher {
  position: absolute;
  top: 0;
  left: 0;
}

/* ************************* */

/* ***** Regions * CLASSROOM ********** */

.classroom-round {
  padding: 15px;
  text-align: center;
  border: 1px solid #555;
  border-radius: 10px;
  flex-basis: 30%;
  flex-grow: 1;
  margin: 2px;
  position: relative;
  min-height: 150px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-shadow: 0 1px 0 #555, 
               0 2px 0 #444,
               0 3px 0 #666,
               0 0 5px rgba(0,0,0,.5),
               0 1px 3px rgba(0,0,0,.7),
               0 3px 5px rgba(0,0,0,.4);
  color: white!important;
  text-decoration: none!important;
  font-size: 1.25em;
  h2 {
    margin-top: 0 !important;
  }
}

.classroomMenu {
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}

.citiesCheck {
  font-size: 1.2em;
  background-color: #fbe9e7;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #555;
  text-align: left;
  flex-grow: 1;
  display: flex;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
}

.cityConquered {
  background-color: #f1f8e9;
}

.addregion {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ccol-1 {
  align-items: center;
  justify-content: center;
  width: 10%;
}

.ccol-8 {
  align-items: center;
  justify-content: center;
  width: 80%;
}

.contentRound .addcity {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
  width: 90%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.shopItemInput {
  max-width: 100px;
}

.contentRound img {
  margin-left: 5px;
  margin-right: 10px;
}

.addcity img {
  margin-top: 10px;
}

.cityGroups {
  margin: 30px 0 30px 0;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  overflow: auto;
}

.regionTitle {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 30px;
}

.contentRound {
  .removeCity, .removeRegion, .updateRegion, .updateCity {
    display: none;
  }

  .regionTitle:hover {
    .removeRegion, .updateRegion {
      display: inline;
    }
  }

  .regionCity:hover {
    .removeCity, .updateCity {
      display: inline;
    }
  }
}

h3.regionCity {
  font-size: 2.4em;
}

.navShadow {
  text-shadow: 1px 1px #ffffff;
}

/* Shop */

details.card > summary {
  list-style-type: none;

  &::-webkit-details-marker {
    display: none;
  }
}

.shopContainer {
  flex-flow: wrap;
  display: flex;
  padding: 20px;
  border: 1px solid black;
  margin: 20px;
  background-color: #fff;
}

.shopPack {
  /*flex: 0 0 33%;*/
  text-align: center;
  padding: 5px;
}

.generalItems .shopPack {
  width: 100%;
}

.showItem {
  tr {
    border: none;
  }

  width: 100%;
  border: 1px solid black;
  margin: 2px;

  td {
    background-color: white;
  }
}

.topShop {
  border-bottom: none;
  position: relative;
  left: 40px;
  bottom: -20px;
  background-color: #999;
  color: white;
}

.submenuRewards {
  position: absolute;
  padding: 15px;
  top: 45px;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);

  label {
    display: inline-block;
    height: 100%;
  }

  span {
    display: initial;
    padding: 10px;
  }
}

.rewardsSubMenu {
  position: relative;

  ul {
    padding: 0;
    display: none;
    margin-top: 20px;
    width: 200px;
    left: 0;
    position: absolute;
    background-color: #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;

    li {
      list-style-type: none;
    }

    label {
      color: #333;
      display: block;
      padding: 15px;
      position: relative;

      &:hover {
        background-color: #fff;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.span6 {
  float: left;
  width: 48%;
  padding: 1%;
}

.storyConquer {
  background-color: #e7e7e7 !important;
}

.rewardsSubMenu:hover ul {
  display: block;
}

.patreon {
  background-color: #c62828;
  padding: 10px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  z-index: 6;
  margin: 0;
  display: inline-block;
}

.bottom_patreon {
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 15px;
}

.patreon a {
  color: white;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

/***** Tools *****/

/*****************/

.hideStudentsLink {
  display: none;
}

@media screen and (max-height: 720px) {
  .patreon {
    display: none;
  }
}


