/* Mobile UI */
@media screen and (max-width: 1250px) {
    #groupContainer {
      grid-template-columns: 50% 49.5% !important;
    }
  
    .hideGrid {
      display: none;
    }
  }

  
  @media screen and (max-width: 1125px) {
    .logoImg {
      display: none;
    }
  
    .grid {
      grid-template-columns: 100%;
    }
  
    .pl-5 {
      padding-left: 20px !important;
    }
  
    .biggerScreen, .lowRes {
      display: none !important;
    }
  
    .classroomSelect {
      margin-left: 0 !important;
    }
  
    .selected > span {
      display: none !important;
    }
  
    .flex > div {
      flex: initial;
    }
  
    .chartdiv {
      width: 100%;
    }
  
    #tab9 + label > span {
      display: none;
    }
  
    .info {
      margin-top: 75px;
    }
  
    .mapOptions {
      display: block;
    }
  
    input[name=tabs] {
      &:checked + label > span, &:hover + label > span {
        display: none;
      }
    }
  
    .logoFont {
      position: relative;
      z-index: 3;
    }
  
    .teamType, .groupLvl {
      z-index: 4;
    }
  
    #newHpItem {
      button span {
        display: none;
      }
  
      input {
        max-width: 100px;
      }
    }
  }
  
  @media screen and (max-width: 1000px) {
    .flexBottom {
      display: initial;
    }
  
    .formVertical {
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    #groupContainer {
      grid-template-columns: 100% !important;
    }
  
  
    .menu-labels {
      height: 60px;
  
      label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    #showGroups.p-2 {
      padding: 0 !important;
    }
  
    .m-4 {
      margin: 10px !important;
    }
  
    .p-4 {
      padding: 10px !important;
    }
  
    .classroomRound {
      display: block;
    }
  
    .classroomRoundSub {
      width: 100% !important;
    }
  
    .card a span {
      display: none;
    }
  
    .classroomSelect, #navbarSpy {
      display: none !important;
    }
  
    .menu-labels:hover {
      width: 100%;
    }
  
    h1.mainTitle, .classroomSelect, .studentsLink {
      display: none;
    }
  
    .hideStudentsLink {
      display: block;
      text-align: center;
      color: black;
      margin-bottom: -15px !important;
    }
  
    .contentRound, .changelogContainer {
      padding: 10px;
    }
  
    .cardsDiv {
      margin: 0;
    }
  
    .cityGroups {
      display: block;
    }
  
    .studentsLink {
      text-align: center;
      margin-bottom: 30px;
    }
  
    #groups:checked ~ #content1 {
      border-top-left-radius: 0;
    }
  
    main {
      padding: 0;
    }
  
    .mainTitle {
      position: relative;
      margin-top: 54px;
    }
  
    .lang span {
      display: none;
    }

  
    label[for=tab9] > span {
      display: none;
    }
  
    .menu-labels label {
      &.selected > span, &:hover > span {
        display: none;
      }
    }
  
    label[for=tab9] {}
  
    .flexContainer {
      display: block;
    }
  
    .flex1, .properties {
      display: inline-block;
      float: left;
      width: 50%;
    }
  
    .properties2 {
      clear: both;
    }
  
    .memberStdView {
      flex: initial;
      width: 100%;
    }
  
    .mobileHidden {
      display: none !important;
    }
  
    .utilities i {
      margin: 3px;
    }
  
    .floatR {
      float: none;
      margin: 5px;
    }
  
    .utilities {
      margin-left: initial;
    }
  
    #submenuMobile {
      display: flex;
      position: relative;
  
      i {
        color: #222 !important;
      }
    }
  
    .submenu {
      width: 100%;
      position: absolute;
      top: 59px;
      right: 0;
      color: #222;
      background-color: #f2f2f2;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #aaa;
      border-top: none;
  
      label {
        display: block;
        padding: 5px;
        margin: 0;
        padding-top: 10px;
        text-align: center;
        width: initial !important;
      }
    }
  

  
    .hideMobile {
      display: none;
    }
  
    h1 {
      font-size: 35px;
  
      /*margin: 10px;*/
    }
  
    .resource:not(button) {
      padding-left: 0;
    }
  
    .row.comment {
      display: flex;
    }
  
    .input-group-field {
      min-width: 100%;
    }
  
    .resource > button, #resources input, [name=urlResource] {
      display: block;
      margin: 1px auto;
      width: 80%;
    }
  
    #resources input, [name=urlResource] {
      margin: initial;
    }
  
    .studentsLink {
      margin-bottom: 10px;
    }
  
    .flex {
      display: block;
    }
  
    .login {
      padding: 20px;
      text-align: center;
    }
  
    .cardModal {
      width: 100%;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      margin: 0;
      z-index: 1070;
    }
  
    div.lang {
      text-align: right;
    }
  
    .lang a {
      margin: 10px;
    }
  
    .logout {
      font-size: 2em;
    }
  
    .selectClass {
      text-align: center;
      min-width: 90%;
    }
  
    .citiesCheck {
      margin: 5px;
    }
  
    .selectClass > *, .row {
      display: block;
  
      /*width: 90%;*/
      margin: 5px auto 5px auto;
    }
  
    .selectClass > button {
      margin: 5px auto !important;
      width: 90%;
    }
  
    main > h2 {
      margin: 20px auto;
    }
  
    .selectClass #selectClassroom {
      max-width: 90%;
      flex: initial;
      margin: 0 auto 0 auto;
    }
  
    .addClassroom > span {
      display: none;
    }
  
    .info > img {
      margin: 0 auto 10px auto;
      display: block;
      float: none;
      width: 100%;
    }
  
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      max-width: none;
      margin: 0 auto 0 auto;
    }
  
    input[type="number"] {
      width: 90%;
    }
  
    label[for=tab9] > span {
      display: none;
    }
  
    .menu-labels label {
      &.selected > span, &:hover > span {
        display: none;
      }
    }
  
    h1 {
      padding: 4px;
    }
  
    .shopContainer {
      padding: 0px;
    }
  
    .shopPack {
      padding: 5px;
    }
  
    .container-fluid {
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .cards {
      display: block;
      width: 100%;
      float: none;
    }
  
    .settings_top, .selectClass {
      z-index: 100;
    }
  
    .settings-menu {
      position: fixed;
      bottom: 0;
      left: 0;
      overflow: hidden;
      border-radius: 0;
      border-top-right-radius: 7px;
  
      > * {
        display: none;
      }
  
      &:hover {
        display: block;
        width: 100%;
        overflow: visible;
  
        > * {
          display: initial;
          margin-left: 10px;
        }
      }
    }

    .settings-menu .onlyMobile {
      display: initial;
    }
  
    .menu-labels {
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      top: 0;
      font-size: 2em;
  
      label {
        width: 17%;
        padding: 10px;
      }
    }
  
    .flex1, .properties {
      display: block;
      width: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    #users table, tr, td {
      display: block;
    }
  
    #users {
      td {
        &:first-child {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 100px;
        }
  
        &:not(:first-child) {
          clear: both;
          margin-left: 100px;
          padding: 4px 20px 4px 90px;
          position: relative;
          text-align: left;
  
          &:before {
            color: #91ced4;
            content: '';
            display: block;
            left: 0;
            position: absolute;
          }
        }
  
        &:nth-child(2):before, &:nth-child(3):before, &:nth-child(4):before, &:nth-child(5):before {
          content: '';
        }
      }
  
      tr {
        padding: 10px 0;
        position: relative;
  
        &:first-child {
          display: none;
        }
      }
    }
  }

  @media (max-width: 585px) {
    .wizard {
      width: 90%;
      height: auto !important;
    }
  
    span.round-tab {
      font-size: 16px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  
    .wizard {
      .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
  
      li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    #users {
      .header {
        background-color: transparent;
        color: white;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      }
  
      img {
        border: 3px solid;
        border-color: #daeff1;
        height: 100px;
        margin: 0.5rem 0;
        width: 100px;
      }
  
      td {
        &:first-child {
          background-color: #c8e7ea;
          border-bottom: 1px solid #91ced4;
          border-radius: 10px 10px 0 0;
          position: relative;
          top: 0;
          -webkit-transform: translateY(0);
          transform: translateY(0);
          width: 100%;
        }
  
        &:not(:first-child) {
          margin: 0;
          padding: 5px 1em;
          width: 100%;
  
          &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
          }
        }
  
        &:last-child {
          padding-bottom: 1rem !important;
        }
      }
  
      tr {
        background-color: white !important;
        border: 1px solid #6cbec6;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
      }
  
      .table-users {
        border: none;
        box-shadow: none;
        overflow: visible;
      }
    }
  }